<ion-content [fullscreen]="true" class="home-content">

  <div class="home-wrapper">

    <div class="logo-box">
      <div class="logo-icon">
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none">
          <path d="M32 6 L54 52 H10 Z" fill="none" stroke="#00B4D8" stroke-width="3.5" stroke-linejoin="round"/>
          <path d="M22 38 L32 18 L42 38" fill="none" stroke="#00B4D8" stroke-width="3.5" stroke-linejoin="round"/>
        </svg>
      </div>
      <h1 class="logo-nome">Liftly</h1>
      <p class="logo-slogan">Bem-Vindo</p>
    </div>

    <div class="home-acoes">
      <ion-button expand="block" class="btn-primario" (click)="irParaLogin()">
        Entrar
      </ion-button>
      <ion-button expand="block" fill="outline" class="btn-secundario-home" (click)="irParaCadastro()">
        Cadastrar
      </ion-button>
    </div>

  </div>

</ion-content>
