<ion-content [fullscreen]="true" class="home-content">

  <div class="home-wrapper">

    <div class="logo-box">
      <img class="liftly-logo" src="assets/icon/liftly-logo.png" alt="Liftly" />
      <p class="logo-slogan">Bem-Vindo</p>
    </div>

    <div class="home-acoes">
      <ion-button expand="block" class="btn-primario" (click)="irParaLogin()">
        Entrar
      </ion-button>
      <ion-button expand="block" fill="outline" class="btn-secundario-home" (click)="irParaCadastro()">
        Cadastrar
      </ion-button>
    </div>

  </div>

</ion-content>
